# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Dataset
emg_datasets/

# some notes
notes/
notes